@import url("core/login.css");
@import url("core/core.css");
@import url("core/panels.css");
@import url("core/table.css");
@import url("core/button.css");
@import url("core/form.css");
@import url("core/error.css");
@import url("core/misc.css");
@import url("core/report.css");
