<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html >
<head>
<title>JDownloader</title>
<meta name="GENERATOR" content="Quanta Plus">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="jd.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="menuscript01.js"></script>
<script type="text/javascript" src="scripts.js"></script>




</head>
<body>
<FORM action="/index.tmpl" name="jd" method="POST" target="_parent">
<div style="width:800px;margin: 0 auto;border:1px solid;padding:5px 5px 5px 5px;;background-color:#1189ee">
<h2 style="text-align:center;color:#F7F7F7">JDownloader Status Page(Version <tmpl_var webinterface_version>)</h2>
<hr>
<ul id="containerul">
  <tmpl_loop pakete>
    <li style="margin:0pt 0pt 0pt 0pt"> <br>
      <table style="width:100%">
        <tr>
	<TD style="width:2%"><INPUT type="checkbox" name="package_all_downloads" value="<tmpl_var package_id escape>" onclick="samecheckall(document.jd.package_single_download,this)"></TD>
          <TD style="width:25%"><A href="all_info.tmpl?all_info=<tmpl_var package_id escape>" name="PackageInfo" onclick="return popup(this,600,200)"><tmpl_var download_name></A></TD>
          <TD style="width:25%"><tmpl_var download_hoster></TD>

	<TD  style="color:#000000;background-color:<tmpl_var download_status_color escape>">
		<div id="ladebalken"><p style="width: <tmpl_var download_status_percent>%;">
		<span><tmpl_var download_status></span></p></div>
	</TD>
        </tr>
      </table>
      <ul >
        <table style="width:100%">
          <tmpl_loop downloads>            
	<TD style="width:2%"><INPUT type="checkbox" name="package_single_download" value="<tmpl_var package_id> <tmpl_var download_id escape>" onclick="areallsamechecked(this,document.jd.package_single_download,document.jd.package_all_downloads)"></TD>	
              <TD style="width:25%"><A href="single_info.tmpl?single_info=<tmpl_var package_id>+<tmpl_var download_id escape>" name="LinkInfo" onclick="return popup(this,600,200)"><tmpl_var download_name></A></TD>
              <TD style="width:25%"><tmpl_var download_hoster></TD>
              <TD  style="color:#000000;background-color:<tmpl_var download_status_color escape>">
		<div id="ladebalken"><p style="width: <tmpl_var download_status_percent>%;">
		<span><tmpl_var download_status></span></p></div>
		</TD>
            </tr>
          </tmpl_loop>
        </table>
      </ul>
    </li>
  </tmpl_loop>
</ul>
<script type="text/javascript">
initiate();                // This must be placed immediately after the menu in order to format it properly.
</script>
<hr>

  <DIV style="text-align:center">
<INPUT type="button" name="select" value="Select All" onclick="checkall(document.jd.package_all_downloads,document.jd.package_single_download)">
<INPUT type="button" name="select" value="UnSelect All" onclick="uncheckall(document.jd.package_all_downloads,document.jd.package_single_download)">

<SELECT name="selected_dowhat">
<option>activate</option>
<option>deactivate</option>
<option>reset</option>
<option>abort</option>
<option>remove</option>
</SELECT>
    <INPUT type="submit" name="do" value="Submit">
    <A href="/index.tmpl" name="Refresh" target="_self">REFRESH</A>	
    <INPUT type="submit" name="do" value="Close JD" checked onclick="validateandsubmit('Close JD?',this,'/bye.tmpl')">
    <INPUT type="submit" name="do" value="Restart JD"  checked onclick="validateandsubmit('Restart JD?',this,'/restart.tmpl')"> 
  </DIV>
  <DIV >
  <table style="width:100%">
    <TR>
      <TD ><INPUT type="submit" name="do" value="Reconnect NOW">
        <br>
        Auto Reconnect<INPUT type="checkbox" 
        <tmpl_var config_autoreconnect >
        name="autoreconnect" value="on"></TD>
      <TD ><INPUT type="submit" name="do" value="<tmpl_var config_startstopbutton escape>"></TD>
      <TD >Max. Downloads
        <INPUT type="text" name="maxdls" value="<tmpl_var config_max_downloads escape>" maxlength="4" size="4"></TD>
      <TD >SpeedLimit
        <INPUT type="text" name="speed" value="<tmpl_var config_max_speed escape>" maxlength="4" size="4">
        kb/s (Current: <tmpl_var config_current_speed> kb/s)</TD>
    </TR>
    </FORM>
    
  </table>
  </DIV>
</FORM>

<FORM name="add" action="/index.tmpl" target="_parent" method="POST">
<DIV style="text-align:center">
<textarea name="addlinks" cols="90" rows="3"  onfocus="clean(this)">Paste your Links here (Container URLs, Link URLs, SourceCode from Pages to parse)</textarea>
<INPUT type="submit" name="do" value="Add">
</DIV>
</FORM>
</body>
</html>
