<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="background-color : purple;">

<head>
  <title>JDownloader</title>
  <meta name="GENERATOR" content="Quanta Plus">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="http://jdownloader.ath.cx/bluebusiness.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div align="center"><h2>JDownloader Status Page</h2></div>
<hr>
<table bgcolor="darkCyan" align="center" border="2" width="800">
  <tbody align="center">




<tmpl_loop downloads>
    <tr>   
    <TD width="30%"  align="center" valign="baseline" ><tmpl_var download_name></TD>
      <TD width="20%"  align="center" valign="baseline" ><tmpl_var download_hoster></TD>
	<TD width="50%"  align="center" valign="baseline" style="color:#000000;background-color:<tmpl_var download_status_color escape>"><tmpl_var download_status></TD>
    </tr>
</tmpl_loop>
   
  </tbody>
</table>
<hr>

<FORM  method="GET" target="_parent">
<DIV align="center"><INPUT type="submit" name="do" value="Submit"><INPUT type="submit" name="do" value="Close JD"></DIV>
<DIV align="center"><table width="800" border="2" align="center" bgcolor="green">
  <tbody>
    <TR>
	
      <TD align="center"><INPUT type="submit" name="do" value="Reconnect NOW"><br>Auto Reconnect<INPUT type="checkbox" <tmpl_var config_autoreconnect > name="autoreconnect" value="on"></TD>
      <TD align="center"><INPUT type="submit" name="do" value="<tmpl_var config_startstopbutton escape>"></TD>


<TD align="center">Max. Downloads<INPUT type="text" name="maxdls" value="<tmpl_var config_max_downloads escape>" maxlength="4" size="4"></TD>
<TD align="center">SpeedLimit<INPUT type="text" name="speed" value="<tmpl_var config_max_speed escape>" maxlength="4" size="4">kb/s</TD>
    </TR>
  </tbody>
</table></DIV>

</FORM>
</body>
</html>