<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html >
<head>
<title>JDownloader</title>
<meta name="GENERATOR" content="Quanta Plus">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="jd.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="menuscript01.js"></script>
<script type="text/javascript" src="scripts.js"></script>




</head>
<body>
<FORM action="/link_adder.tmpl" name="jd" method="POST" target="_parent">
<div style="width:800px;margin: 0 auto;border:1px solid;padding:5px 5px 5px 5px;;background-color:#1189ee">
<h2 style="text-align:center;color:#F7F7F7">JDownloader WebInterface(Version <tmpl_var webinterface_version>)</h2>
<h2 style="text-align:center;color:#F7F7F7">Link-Adder</h2>
<hr>
<ul id="containerul">
  <tmpl_loop pakete>
    <li style="margin:0pt 0pt 0pt 0pt"> <br>
      <table style="width:100%">
        <tr>
	<TD style="width:2%"><INPUT type="checkbox" name="package_all_add" value="<tmpl_var package_id escape>" onclick="samecheckall(document.jd.package_single_add,this)"></TD>
          <TD style="width:50%"><INPUT  size="30" type="text" name="adder_package_name_<tmpl_var package_id escape>" value="<tmpl_var download_name escape>"></TD>
	<!--<TD style="width:48%">Password:<INPUT  size="30" type="text" name="adder_package_password_<tmpl_var package_id escape>" value="<tmpl_var download_password escape>"></TD>-->
        </tr>
      </table>
      <ul >
        <table style="width:100%">
	
          <tmpl_loop downloads>
	<tr>            
	<TD style="width:2%"><INPUT type="checkbox" name="package_single_add" value="<tmpl_var package_id> <tmpl_var download_id escape>" onclick="areallsamechecked(this,document.jd.package_single_add,document.jd.package_all_add)"></TD>	
              <TD style="width:50%"><tmpl_var download_name></TD>
              <TD style="width:25%"><tmpl_var download_hoster></TD>
            </tr>
          </tmpl_loop>
        </table>
      </ul>
    </li>
  </tmpl_loop>
</ul>
<script type="text/javascript">
initiate();                // This must be placed immediately after the menu in order to format it properly.
</script>
<hr>

  <DIV style="text-align:center">
<INPUT type="button" name="select" value="Select All" onclick="checkall(document.jd.package_all_add,document.jd.package_single_add)">
<INPUT type="button" name="select" value="UnSelect All" onclick="uncheckall(document.jd.package_all_add,document.jd.package_single_add)">

<SELECT name="selected_dowhat_link_adder">
<option>add</option>
<option>remove</option>
</SELECT>
    <INPUT type="submit" name="do" value="Submit">
  </DIV>
</FORM>

<FORM name="add" action="/link_adder.tmpl" target="_parent" method="POST">
<DIV style="text-align:center">
<textarea name="addlinks" cols="90" rows="3"  onfocus="clean(this)">Paste your Links here (Container URLs, Link URLs, SourceCode from Pages to parse)</textarea><br>
<INPUT type="submit" name="do" value="Add">
<hr>
<A href="/passwd.tmpl" name="Edit Passwords" target="_self">Edit Passwords</A>
<A href="/index.tmpl" name="Status Page" target="_self">Status Page</A>
</DIV>
</FORM>
</body>
</html>
