<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html >
<head>
<title>JDownloader</title>
<meta name="GENERATOR" content="Quanta Plus">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="jd.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="menuscript01.js"></script>
<script type="text/javascript" src="scripts.js"></script>




</head>

<div style="width:800px;margin: 0 auto;border:1px solid;padding:5px 5px 5px 5px;;background-color:#1189ee">
<h2 style="text-align:center;color:#F7F7F7">JDownloader WebInterface(Version <tmpl_var webinterface_version>)</h2>
<h2 style="text-align:center;color:#F7F7F7">Password-Editor</h2>
<hr>

<FORM name="add" action="/passwd.tmpl" target="_parent" method="POST">
<DIV style="text-align:center">
<textarea name="password_list" cols="90" rows="20" ><tmpl_var password_list></textarea><br>
<INPUT type="submit" name="passwd" value="Save">
<hr>
<A href="/index.tmpl" name="Status Page" target="_self">Status Page</A>
</DIV>
</FORM>

</body>
</html>