<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>JDownloader - WebInterface v<tmpl_var webinterface_version></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link href="jd.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="scripts.js"></script>
</head>

<body>
<div class="hide" style="width:0%;" id="0">&nbsp;</div><!--package - needed by setProgressBarsColors-->
<table width="95%" align="center" id="infotable">
<tbody>
	<tmpl_loop single_infos>
	<tr>
		<td class="description"><tmpl_var info_var></td>

	<tmpl_if download_status>
		<td class="ladebalken">
			<div class="ladebalken">
				<div class="ladebalkenWrapper">
					<div name="ladebalken" class="<tmpl_var download_status escape>" style="width: <tmpl_var info_percent escape>%;" id="0_<tmpl_var download_id escape>">&nbsp;</div>
				</div>
				<span class="ladestatus"><tmpl_var info_value></span><br class="clear">
			</div>
		</td>
	<tmpl_else>
		<td class="value"><tmpl_var info_value></td>
	</tmpl_if>

	</tr>
	</tmpl_loop>
</tbody>
</table>

<script type="text/javascript">
	setProgressBarsColors('f5f502', '02CE02');
	startPageReload(<tmpl_var page_refresh>);
	resizeInfoWindow("infotable", 600);
</script>
</body>
</html>